Flight_Software/.pio/build
Flight_Software/.vscode/.browse.c_cpp.db*
Flight_Software/.vscode/c_cpp_properties.json
Flight_Software/.vscode/launch.json
Flight_Software/.vscode/ipch
Simulation_Software/venv
.DS_Store